<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "headline": "{{ page.title }}",
      "image": [{
        "@type": "imageObject",
        "url": "{{ page.image }}",
        "contentUrl": "{{ page.image }}",
        "height": "576",
        "width": "1024"
       }],
      "datePublished": "{{ page.date | date: "%FT%T%:z" }}",
      "dateModified": "{{ page.last_modified_at | date: "%FT%T%:z" }}",
      "author": [{
          "@type": "Person",
          "name": "{{ page.author }}",
          "url": "{{ site.url }}"
        }]
    }
</script>