{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% unless page.categories == empty %}
<div class="breadcrumbs-wrapper">
<nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
<span class="breadcrumb-item " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemprop="item" href="/">
    <span itemprop="name">Home</span>
  </a>
  <meta itemprop="position" content="1" />
</span>
{% for category in categories %}
{% assign slug = category | downcase | replace: ' ', '-' | replace: "'", '' %}
»
<span class="breadcrumb-item " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  <a itemprop="item" href="{{site.baseurl}}/categories/{{slug}}"><span itemprop="name">{{- category -}}</span></a>
  <meta itemprop="position" content="{{ forloop.index == 1 | plus: 1 }}" />
</span>
{% unless forloop.last %}{% endunless %}
{% endfor %}
</nav>
</div>
{% endunless %}

{% comment %}
---
<div id="breadcrumbs">
<div class="row clearfloat">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<a href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
{% if forloop.last %}
» {{ page.title }}
{% else %}
» <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
{% endif %}
{% endfor %}
</div>
</div>
---
{% endcomment %}