<style>
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*{margin:0;padding:0;box-sizing:border-box;}
ul,ol{list-style: none;}
a{text-decoration:none;color: #3F51B5;}
h1,h2,h3,h4,h5{font-family:arial,sans-serif;font-weight:bold}
html, body{height:100%}
body{font-family:Arial, roboto,san-serif;font-size: 16px;line-height:1;}
.row{width:100%;max-width:980px;margin:0 auto;}
.mainheader{font-family:Arial, Helvetica, sans-serif;background: #000000;margin-bottom:20px;padding:10px 0;color:#ffffff}
.mainheader a{color:currentColor}
.header-wrapper{display:flex;align-items:center}
.sitebrand{font-size:25px;font-weight:700;font-family:sans-serif}
.headernav{margin-left:auto}
.headernavlist{display:flex;align-items:center;flex-wrap:wrap}
.headernavlist li:not(:last-child){margin-right:15px}
.mainarea{min-height:calc(100vh - 55px)}
.breadcrumbs-wrapper{margin-bottom:15px}
.breadcrumbs{display:flex;flex-wrap:wrap;font-size:14px;}
.breadcrumbs>span{margin:0 5px}
.breadcrumbs>span:first-child{margin-left:0}
/* post body */
.post{margin-bottom:20px;}
.item-title{line-height:1.18em;}
.entry-title{margin-bottom:10px;font-size:18px;}
.content{margin-bottom:20px}
.post-meta{margin-bottom:15px;}
.post .post-meta{margin-bottom:10px;}
.post-meta{font-size:12px;color:#666666}
.post-title{margin-bottom: 15px;font-size:1.8em}
.post-body p{font-size:16px;margin-bottom:15px;line-height: 1.4em;}
.post-body h2,.post-body h3,.post-body h4,.post-body h5{margin:30px 0 20px;width:100%}
.post-body h2{font-size:1.5em}
.post-body h3{font-size:1.3em}
.post-body h4{font-size:1.2em}
.post-body h5{font-size:1.16em}
.post-body ol,.post-body ul{margin-bottom:15px;margin-left:40px}
.post-body ol{list-style-type:decimal}
.post-body Ul{list-style-type:disc}
.post-body li:not(:last-child){margin-bottom:10px}
.post-body a{text-decoration:underline}
.post-body img{width:100%;height:auto;max-width:100%}
.post-body code{padding:0 6px;background:#fffbf5;border-radius:2px;margin-bottom:20px;border:1px solid #ecdac0}
.post-tags{display:flex;align-items:center;flex-wrap:wrap;margin-bottom:15px}
.tag-item{margin-right:5px}
.tag-item a{display:block;background:#ddd0d042;padding:5px 10px;border-radius:20px;color:#971719;font-size:13px;border:1px solid #f7e6e6}
.footerarea{background:#000;padding:20px 0;color:#c7c7c7}
.f-sitelinks{display:flex;flex-wrap:wrap;align-items:center;margin-bottom:20px}
.f-sitelinks li a{color:currentColor}
.f-sitelinks li{margin-bottom:10px}
.f-sitelinks li:not(:last-child){margin-right:30px}
/* toc */
.section-nav{background-color:#fff;margin:0 0 20px!important;padding:10px 30px;border:1px solid #e8e8e8;border-radius:3px;max-width:340px;list-style:disc}
.section-nav ul{margin:10px 0 15px 15px}
.section-nav li:not(:last-child){margin-bottom:10px}
.section-nav li a{text-decoration: none;}
.pagination{display:flex;flex-wrap:wrap;align-items:center;margin-bottom:20px}
.pag-item{padding:5px;border:1px solid #ddd;min-width:26px;text-align:center;font-weight:700}
a.pag-item:hover{background:#000;border-color:#000;color:#fff}

/* media Query */
@media screen and (max-width:960px){
.row{width:95%}
}
</style>