---
layout: base
---
<h1 class="post-title">Artikel oleh {{ page.author }}</h1>

<ul>
    {% for post in site.posts %}
        {% if page.author == "Tim Anime Now" %}
        {% if post.author == nil or post.author == "" %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span>{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
        {% endif %}
      {% elsif post.author == page.author %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span>{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
