<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <link href="/favicon.svg" rel="icon" type="image/svg+xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html' }}">
  <title>{{ page.title }}</title>
  {% if page.layout == "page" %}
  <meta content="{{ site.description }}" name="description">
  {% else %}
  <meta content="{{ page.description | default: page.subtitle | default: page.title }}" name="description">
  {% endif %}
  {% if page.keywords %}
  <meta content="{{ page.keywords }}" name="keywords">
  {% endif %}

  {% include css.html %}
</head>
<body>
  <div class="page-body">
    <header class="mainheader">
      <div class="header-wrapper h-row">
      <div class="sitename">
          {% if page.layout == "page" %}
          <h1 class="sitebrand"><a href="{{ site.url }}">{{ site.title }}</a></h1>
          {% else %}
          <div class="sitebrand"><a href="{{ site.url }}">{{ site.title }}</a></div>
          {% endif %}
      </div>
      <nav id="topnav" class="headernav">
        <ul class="headernavlist">
          <li><a href="{{ '/' | absolute_url }}">Home</a></li>
          <li><a href="{{ '/about' | absolute_url }}">About</a></li>
          <li><a href="{{ '/contact' | absolute_url }}">Contact</a></li>
        </ul>
      </nav>
      <div class="searchbtn">
        <a role="button" aria-label="pencarian" href="/search.html"><svg enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M19.7 18.3l-3.1-3.1c.9-1.2 1.4-2.6 1.4-4.2 0-3.9-3.1-7-7-7s-7 3.1-7 7 3.1 7 7 7c1.6 0 3-.5 4.2-1.4l3.1 3.1c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4zm-8.7-2.3c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5z"></path></svg></a>
        </div>
      <div id="menu" onclick="showMenu()" role="button">
        MENU
      </div>
      </div>
    </header>
    <main class="mainarea">
      <div class="mainpage row">
          {{ content }}
      </div>
    </main>
    <footer class="footerarea">
      <div class="row">
        <ul class="f-sitelinks">
          <li><a href="/">Tentang Kami</a></li>
          <li><a href="/">Privasi & Kebijakan</a></li>
          <li><a href="/">Syarat & Ketentuan</a></li>
          <li><a href="/">Penafian</a></li>
          <li><a href="/">Kontak</a></li>
        </ul>
        <div class="cpr">
          &copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.
        </div>
      </div>
    </footer>
  </div>
  <script>
    //<![CDATA[
    //Menu
const menux = document.querySelector('#topnav');
function showMenu() {
	menux.classList.toggle('active');
	console.log("Button diklik.");
};
window.onclick = function(event) {
	if (!event.target.closest('#menu') && !event.target.closest('#topnav')) {
		if (menux.classList.contains('active')) {
			menux.classList.remove('active');
		} else {}
	}
};
    //]]>
    </script>
  <svg display="none">
    <symbol id="menuicon" viewBox="0 0 24 24"><path d='M24 21H0v-2.86h24V21zm0-10.43H0v2.86h24v-2.86zM24 3H0v2.86h24V3z'/></symbol>
  </svg>
</body>
</html>