---
layout: base
---
    {% include breadcrumbs.html %}
    <article class="content">
      <h1 class="item-title post-title">{{ page.title }}</h1>
      <div class="post-meta">
        {% assign bulan = "Jan,Feb,Maret,April,Mei,Juni,Juli,Ags,Sep,Okt,Nov,Des" | split: "," %}
        {% assign bulan_angka = page.date | date: "%m" | minus: 1 %}
        {% assign mm = bulan[bulan_angka] %}
      <div>Terbit Pada {{ page.date | date: "%d" }} {{ mm }} {{ page.date | date: "%Y" }}, Diperharui {{ page.last_modified_at | date: "%d" }} {{ mm }} {{ page.last_modified_at | date: "%Y" }}</div>
      </div>
      <details class="postoc">
        <summary>Konten</summary>
        {%-toc-%}
      </details>
      <div class="post-body">
        {{ content }}
      </div>
        {%- if page.tags -%}
        <ul class="post-tags">
        {%- for tag in page.tags -%}
        <li class="tag-item"><a href="/tags.html#{{-tag-}}">{{- tag -}}</a></li>
        {%- endfor -%}
        </ul>
        {%- endif -%}
    </article>
