---
layout: base
---
    {% include breadcrumbs.html %}
    <article class="content">
      <h1 class="item-title post-title">{{ page.title }}</h1>
      <div class="post-meta">
        <div class="author">
          {% assign nameslug = page.author | default: site.author | downcase | replace: ' ', '-' | replace: "'", '' %}
          {% assign bulan = "Jan,Feb,Maret,April,Mei,Juni,Juli,Ags,Sep,Okt,Nov,Des" | split: "," %}
          {% assign bulan_angka = page.date | date: "%m" | minus: 1 %}
          {% assign mm = bulan[bulan_angka] %}
          <a href="/author/{{ nameslug }}">{{ page.author | default: site.author }}</a> pada {{ page.date | date: "%d" }} {{ mm }} {{ page.date | date: "%Y" }}</div>
        <div>Diperharui {{ page.last_modified_at | date: "%d" }} {{ mm }} {{ page.last_modified_at | date: "%Y" }}</div>
        <img alt="view counter" src='https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fanimenow.eu.org%2F{{ page.url }}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=👁&edge_flat=false'/>
      </div>
      <details class="postoc" open>
        <summary>Daftar isi konten</summary>
        {%-toc-%}
      </details>
      <div class="post-body">
        {{ content }}
      </div>
      {% include sharebutton.html %}
        {%- if page.tags -%}
        <ul class="post-tags">
        {%- for tag in page.tags -%}
        {% assign slug = tag | downcase | replace: ' ', '-' | replace: "'", '' %}
        <li class="tag-item"><a href="/tags.html#{{-slug-}}">{{- tag -}}</a></li>
        {%- endfor -%}
        </ul>
        {%- endif -%}
        {% include related-post.html %}
    </article>
